//pre-defined classes
.border {
  border: 1px solid red;
}
.flex {
  display: flex;
  align-items: center;
}
.flex-warp {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-space {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.flex-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
//pre-defined variables
* {
  --white: #ffffffe1;
  --black: rgb(43, 43, 43);
  --navBlack: rgb(35, 35, 35);
}

//---------------------------SingIn-------------------------
.signin-container {
  .google-btn {
    background-color: white;
    color: var(--black);
    text-transform: none;
    border: none;
    box-shadow: none;
    font-weight: 600;
    border: 1px solid #827e7e;
    &:hover {
      background-color: var(--black);
      color: var(--white);
      border-color: var(--black);
      transform: scale(1.03);
      transition: 0.2s;
      .google-icon {
        margin: 30px;
      }
    }
  }
  .signin-btn {
    background-color: var(--navBlack);
    color: var(--white);
    &:hover {
      background-color: rgb(57, 55, 55);
      color: var(--white);
      border-color: var(--black);
      transform: scale(1.03);
      transition: 0.2s;
    }
  }
}

//---------------------------------NAV----------------------
.nav-container {
  .nav {
    background-color: var(--navBlack);
    div {
      font-family: "Geologica", sans-serif;
    }
    .login-btn {
      padding: 10px 20px;
      color: white;
      border-radius: 30px;
    }
    .profilepicture-container {
      .img-rounded {
        border-radius: 50%;
      }
    }
  }
}

// ----------------------- HOME -----------------------
.home-box {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px 0;
  justify-content: center;
  .newscard {
    cursor: pointer;
    width: 100%;
    &:hover {
      transform: scale(1.01);
      transition: 0.3s;
    }
  }
}

//-------------------- DROPUP ----------------------
.addbtn-container {
  .add-btn {
    background-color: rgb(18, 17, 17);
    // display: flex;
    position: fixed;
    z-index: 10;
    bottom: 20px;
    right: 20px;
    align-items: center;
    border-radius: 50%;
    // &:hover {
    //   border: 1px solid rgb(18, 17, 17);
    // }
    margin: 10px;
    .add-icon {
      font-size: 50px;
      color: white;
      box-sizing: initial;
      padding: 2px;
      &:hover {
        color: rgb(18, 17, 17);
      }
    }
  }
}

//---------------------- CreateNews --------------------
.createnews-container {
  .createnews-form {
    .submit-btn {
      width: 100%;
      background-color: var(--black);
      color: white;
      padding: 11px;
      font-size: 17px;

      &:hover {
        transform: scale(1.01);
        transition: 0.2s;
        background-color: rgb(66, 65, 65);
      }
    }
    .dragndrop-container {
      .dragndrop {
        display: flex;
        justify-content: center;
        margin: auto;
        width: 100%;
        .dragndrop-title {
          //continue here
        }
        label {
          width: 100%;
          height: 60px;
        }
      }
    }
  }
}
