//pre-defined classes
.border {
  border: 1px solid red;
}
.flex {
  display: flex;
  align-items: center;
}
.flex-warp {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-space {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.flex-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.responsive {
  width: 100%;
  height: auto;
}
//pre-defined variables
* {
  --white: #ffffffe1;
  --black: rgb(43, 43, 43);
  --navBlack: rgb(35, 35, 35);
}
.full-width {
  width: 100%;
}
.basic-btn {
  width: 100%;
  background-color: var(--black);
  color: white;
  padding: 11px;
  font-size: 17px;
  margin: 10px 0;

  &:hover {
    transform: scale(1.01);
    transition: 0.2s;
    background-color: rgb(66, 65, 65);
  }
}

//---------------------------SingIn-------------------------
.signin-container {
  .google-btn {
    background-color: white;
    color: var(--black);
    text-transform: none;
    border: none;
    box-shadow: none;
    font-weight: 600;
    border: 1px solid #827e7e;
    &:hover {
      background-color: var(--black);
      color: var(--white);
      border-color: var(--black);
      transform: scale(1.03);
      transition: 0.2s;
      .google-icon {
        margin: 30px;
      }
    }
  }
  .signin-btn {
    background-color: var(--navBlack);
    color: var(--white);
    &:hover {
      background-color: rgb(57, 55, 55);
      color: var(--white);
      border-color: var(--black);
      transform: scale(1.03);
      transition: 0.2s;
      cursor: not-allowed;
    }
  }
}

//---------------------------------NAV----------------------
.nav-container {
  .nav {
    background-color: var(--navBlack);
    padding-right: 0;
    div {
      font-family: "Geologica", sans-serif;
    }
    .login-btn {
      padding: 10px 20px;
      color: white;
      border-radius: 30px;
    }
    .profilepicture-container {
      .img-rounded {
        border-radius: 50%;
      }
    }
    .logouticon {
      margin-left: 10px;
      margin-right: 8px;
      cursor: pointer;
    }
  }
}

// ----------------------- HOME -----------------------
.home-container {
  margin: 10px 0;
  .home-grid {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 10px 0;
    justify-content: center;
    .newscard {
      flex-basis: calc(33.33% - 15px);
      background-color: rgb(251, 251, 251);
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
        rgba(0, 0, 0, 0.23) 0px 3px 6px;
      cursor: pointer;
      &:hover {
        transform: scale(1.01);
        transition: 0.2s;
      }
      .card-header {
        display: inline-block;
        div {
          span:first-child {
            font-family: "Geologica", sans-serif;
            font-size: 25px;
          }
          span:last-child {
            font-family: "Geologica", sans-serif;
            font-size: 13px;
          }
        }
      }
      .author-container {
        margin-top: 10px;
        p {
          margin: 0;
        }
        .category-container {
          display: flex;
          align-items: center;
          p {
            margin: 0;
          }
          span {
            width: 40px;
            height: 7px;
            margin: 5px;
          }
        }
      }
      .card-footer {
        padding: 10px;
        display: flex;
        align-items: center;
        p {
          font-family: "Roboto", sans-serif;
          font-weight: 500;
        }
      }
      .card-media {
        img {
          max-height: 300px;
          width: auto;
        }
      }
    }
  }
}

//-------------------- DROPUP ----------------------
.addbtn-container {
  .add-btn {
    background-color: rgb(18, 17, 17);
    // display: flex;
    position: fixed;
    z-index: 10;
    bottom: 20px;
    right: 20px;
    align-items: center;
    border-radius: 50%;
    // &:hover {
    //   border: 1px solid rgb(18, 17, 17);
    // }
    margin: 10px;
    .add-icon {
      font-size: 50px;
      color: white;
      box-sizing: initial;
      padding: 2px;
      &:hover {
        color: rgb(18, 17, 17);
      }
    }
  }
}

//---------------------- CreateNews --------------------
.createnews-container {
  max-width: 550px;
  .form-preview-container {
    gap: 15px;
    .div-container {
      .createnews-form {
        margin: 10px 0;
        padding: 10px 40px;
        border-radius: 5px;
        border: 1px solid rgb(238, 236, 236);
        background-color: rgb(247, 247, 247);
        textarea,
        label {
          font-family: "Geologica", Roboto, sans-serif;
          font-weight: 300;
        }
        .dragndrop-container {
          .dragndrop {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;
            .dragndrop-title {
              font-family: "Geologica", Roboto, sans-serif;
              font-weight: 300;
              text-align: center;
              strong {
                font-weight: 600;
              }
            }
            label {
              width: 100%;
              height: 60px;
            }
            .success-icon {
              background-color: transparent;
              padding: 0px 5px;
            }
            div {
              margin: 0;
            }
          }
        }
        .submit-btn {
          width: 100%;
          background-color: var(--black);
          color: white;
          padding: 11px;
          font-size: 17px;
          margin: 10px 0;

          &:hover {
            transform: scale(1.01);
            transition: 0.2s;
            background-color: rgb(66, 65, 65);
          }
        }
      }
      .preview-container {
        background-color: rgb(247, 247, 247);

        margin: 10px 0;
        padding: 10px 40px;
        border-radius: 5px;
        border: 1px solid rgb(238, 236, 236);
        .preview-title {
          font-family: "Geologica", sans-serif;
          font-weight: 400;
          font-size: 22px;
          text-align: center;
          margin: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          .fa-circle-info {
            margin: 0 10px;
            font-size: 20px;
          }
        }
        .basic-btn {
          width: 100%;
          background-color: var(--black);
          color: white;
          padding: 11px;
          font-size: 17px;
          margin: 10px 0;

          &:hover {
            transform: scale(1.01);
            transition: 0.2s;
            background-color: rgb(66, 65, 65);
          }
        }
      }
      .newscard {
        background-color: rgb(253, 253, 253);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
          rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        // border: 1px solid rgb(231, 230, 230);
        cursor: pointer;
        &:hover {
          transform: scale(1.01);
          transition: 0.2s;
        }
        .card-header {
          display: inline-block;
          div {
            span:first-child {
              font-family: "Geologica", sans-serif;
              font-size: 25px;
            }
            span:last-child {
              font-family: "Geologica", sans-serif;
              font-size: 13px;
            }
          }
        }
        .author-container {
          margin-top: 10px;
          p {
            margin: 0;
          }
          .category-container {
            display: flex;
            align-items: center;
            p {
              margin: 0;
            }
            span {
              width: 40px;
              height: 7px;
              margin: 5px;
            }
          }
        }
        .card-footer {
          padding: 10px;
          display: flex;
          align-items: center;
          p {
            font-family: "Roboto", sans-serif;
            font-weight: 500;
          }
        }
        .card-media {
          img {
            max-height: 300px;
            width: auto;
          }
        }
      }
    }
  }
}

// ----------------------- MEDIA -------------------------
@media screen and (min-width: 1101px) {
  .createnews-container {
    min-width: 1100px;
    margin: 10px;
    padding: 0;
    .form-preview-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .div-container {
        width: 50%;
        .preview-container {
          .preview-title {
            text-align: center;
            margin: 10px;
            font-weight: 400;
          }
        }
      }
    }
  }
}

//----------------------------- MANAGE NEWS ------------------------------
.managenews-container {
  .card-box {
    display: flex;
    .newscard {
      margin: 10px;
      max-width: 450px;
      background-color: rgb(253, 253, 253);
      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
      // border: 1px solid rgb(231, 230, 230);
      cursor: pointer;
      &:hover {
        transform: scale(1.01);
        transition: 0.2s;
      }
      .card-header {
        display: inline-block;
        div {
          span:first-child {
            font-family: "Geologica", sans-serif;
            font-size: 25px;
          }
          span:last-child {
            font-family: "Geologica", sans-serif;
            font-size: 13px;
          }
        }
      }
      .author-container {
        margin-top: 10px;
        p {
          margin: 0;
        }
        .category-container {
          display: flex;
          align-items: center;
          p {
            margin: 0;
          }
          span {
            width: 40px;
            height: 7px;
            margin: 5px;
          }
        }
      }
      .card-footer {
        padding: 10px;
        display: flex;
        align-items: center;
        p {
          font-family: "Roboto", sans-serif;
          font-weight: 500;
        }
      }
      .card-media {
        img {
          max-height: 300px;
          width: auto;
        }
      }
    }
    .news-buttons-container {
      .manage-buttons {
        margin: 5px 0 10px 0;
        button {
          margin: 0 5px;
          width: 120px;
          font-family: "Geologica";
          font-weight: 300;
        }
        .delete-btn {
          background-color: rgb(206, 55, 55);
          border: none;
        }
      }
    }
  }
}

//---------------------------- UPDATE ARTICLE -----------------
.managearticle-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 700px;
  background-color: rgb(247, 247, 247);
  margin: 20px auto;
  padding: 10px 20px;
  .createnews-form {
    text-align: left;
  }
  .div-container {
  }
  .basic-btn {
    width: 90%;
    background-color: var(--black);
    color: white;
    padding: 11px;
    font-size: 17px;
    margin: 10px auto;

    &:hover {
      transform: scale(1.01);
      transition: 0.2s;
      background-color: rgb(66, 65, 65);
    }
  }
}
//-------------------------- ARTICLE --------------------
.article-container {
  flex-direction: column;
  p {
    width: 100%;
    hr {
      margin: 6px 0 0 0;
    }
  }

  .content-container {
    max-width: 900px;
    .category-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      p {
        margin: 0;
      }

      span {
        width: 40px;
        height: 7px;
        margin: 5px;
      }
    }
  }
}
